.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 300px;
  background-color: beige;
}

.step-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.step-div p {
  margin: 0;
}

.count-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.count-div p {
  margin: 0;
}

.date-span {
  font-weight: bold;
  color: purple;
}
